{% extends 'base.html.twig' %} {% block entry %}
<div class="container-fluid banner">

    <a class="new text-monospace" href="{{path('full_page_product')}}">
  <h1 class="text-align-center">
      New Roots !
  </h1>
</a>
</div>


<div class="container mx-auto text-align-center">
  <h2>About Us</h2>
  <p class="text-home">
    Constituendi autem sunt qui sint in amicitia fines et quasi termini diligendi. De quibus tres video sententias ferri, quarum
    nullam probo, unam, ut eodem modo erga amicum adfecti simus, quo erga nosmet ipsos, alteram, ut nostra in amicos benevolentia
    illorum erga nos benevolentiae pariter aequaliterque respondeat, tertiam, ut, quanti quisque se ipse facit, tanti fiat
    ab amicis. Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo
    egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit. Quid enim? Africanus
    indigens mei? Minime hercule! ac ne ego quidem illius; sed ego admiratione quadam virtutis eius, ille vicissim opinione
    fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo. Sed quamquam utilitates
    multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae. Nihil est enim virtute amabilius,
    nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, quodam
    modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit?
    quis autem est, qui Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit? Cum duobus ducibus de imperio in Italia
    est decertatum, Pyrrho et Hannibale; ab altero propter probitatem eius non nimis alienos animos habemus, alterum propter
    crudelitatem semper haec civitas oderit. Quam ob rem cave Catoni anteponas ne istum quidem ipsum, quem Apollo, ut ais,
    sapientissimum iudicavit; huius enim facta, illius dicta laudantur. De me autem, ut iam cum utroque vestrum loquar, sic
    habetote. Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique
    nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.</p>
  <div class="products">
    <a href="{{path('full_page_product')}}">
      <button type="button" class="btn btn-outline-dark d-flex justify-content-center">Products</button>
    </a>
  </div>

</div>

{#
<form action="{{path('add_to_cart', {product:product.id})}}">
  <select name="quantity" id="quantity">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
  </select>
  <button>Add To Cart</button>
</form> #} {% endblock entry %}