

{% if not app.user %}

  <a class="inscription" href="{{path('inscription')}}"><button class="btn btn-outline-light inscription" type="submit">Inscription</button></a>
<a class="login" href="{{path('login')}}"><button class="btn btn-outline-light login">Login</button></a>

{% else %}


<a class="logout" href="{{path('logout')}}"><button type="button" class="btn btn-outline-light logout">Logout</button></a>
{% endif %}
    


