{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}


{% block contact %}
<h3>Contact Us</h3>
    
{{ form_start(form) }}
{{ form_widget(form) }}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Send
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          You message has been delivered.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{{ form_end(form) }}
{% endblock contact %}
