{% extends 'base.html.twig' %}

{% block title %}Your Profile{% endblock %}

{% block body %}
  {{ form_start(form) }}
{{ form_widget(form) }}
<a href="{{path('password')}}" name="password">Change your password</a>
<button class="btn btn-primary">Update</button>
{{ form_end(form) }}


  
{% endblock body %}

